@charset "utf-8";

.changecolor{
    color: #2A23DC;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-style: italic;	
}


.tilebg {

	
}

.mered {
    color: #CD0003;	
	
}